[client]
host = database-1.ccrc03jeprkh.us-east-1.rds.amazonaws.com
port = 3306
user = hflui7
password = 56743540

[client.servers]
host = database-2.ccrc03jeprkh.us-east-1.rds.amazonaws.com
port = 3306
user = hflui7
password = 56743540